{% extends "base.html" %}
{% from "_render_field.html" import render_field %}

{% block content %}
<h1 class="mb-4">Вхід</h1>

<form method="post"
      action="{{ url_for('users.login') }}"
      novalidate>

    {{ form.csrf_token }}

    {{ render_field(form.username) }}
    {{ render_field(form.password) }}

    <div class="form-check mb-3">
        {{ form.remember(class="form-check-input", id="remember") }}
        <label class="form-check-label" for="remember">
            {{ form.remember.label.text }}
        </label>
    </div>

    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
