{% extends "base.html" %}

{% block title %}Posts{% endblock %}

{% block css %}
<link
    rel="stylesheet"
    href="{{ url_for('posts.static', filename='css/posts.css') }}"
/>
{% endblock %}

{% block content %}
<h1 class="myclass">Articles</h1>

<div class="container mt-3 posts-container">
    <a
        href="{{ url_for('posts.create_post') }}"
        class="btn btn-primary add-post-btn"
    >
        Add post
    </a>

    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 mb-3">
            <div class="card post-card h-100">
                <img
                    src="{{ url_for('posts.static', filename='img/logo.png') }}"
                    class="card-img-top post-card-img"
                    alt="Post image"
                />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title post-card-title">
                        {{ post.title }}
                    </h5>

                    <p class="post-card-meta mb-1">
                        Post ID: {{ post.id }}
                    </p>

                    <p class="post-card-meta mb-1">
                        Category: {{ post.category.value }}
                    </p>

                    <p class="post-card-meta mb-2">
                        Posted: {{ post.posted.strftime('%Y-%m-%d %H:%M') }}
                    </p>

                    <p class="card-text flex-grow-1">
                        {{ post.content[:100] }}{% if post.content|length > 100 %}...{% endif %}
                    </p>

                    <a
                         href="{{ url_for('posts.view_post', post_id=post.id) }}"
                         class="btn btn-outline-primary mt-2"
                    >
                        View Post
                    </a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-12">
            <p>No posts yet.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
